.feature-table {

}

.feature-table tr {
  // box model
  display: block;
  margin-bottom: 1rem;
  padding: 1rem 0;
  
  // border
  border-top: 1px solid var(--blue);
  
  @include atDesktopS {
    // box model
    display: flex;
    margin-bottom: 0;
    padding: 1.5rem 0;
  }
}

.feature-table td {
  // box model
  display: block;
}

.feature-table__number {
  // box model
  margin-bottom: 0.5rem;

  // typography
  color: var(--red);
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.225;

  @include atDesktopS {
    // box model
    flex-basis: 26rem;
    flex-shrink: 0;
    padding-left: 5rem;
  }
}

.feature-table__feature {
  // box model
  margin-bottom: 2rem;

  // typography
  color: var(--blue);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  line-height: 1.225;

  @include atDesktopS {
    // box model
    flex-basis: 30rem;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.feature-table__text {
  // typography
  line-height: 1.225;

  @include atDesktopS {
    // box model
    padding-right: 7.5rem;
  }
}
