.feature-cards {
  @include atTablet {
    // box model
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-top: 3rem;
  }

  @include atDesktopS {
    // box model
    grid-template-columns: repeat(2, 21rem);
  }
}
