.footer-menu {
  // box model
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-menu--d-row {
  @include atDesktopS {
    // box model
    flex-direction: row;
  }
}

.footer-menu__item {

}

.footer-menu__link {
  // typography
  color: var(--white);
  text-decoration: none;
}
