.footer {
  // box model
  margin: -0.625rem;
  padding: 2.375rem;

  // typography
  color: var(--white);

  // visual
  background-color: var(--blue);

  @include atDesktopS {
    // box model
    margin: -1.25rem;
    padding: 6.25rem 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.footer__top {
  // box model
  margin-bottom: 3rem;

  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  // box model
  margin-bottom: 3rem;

  @include atDesktopS {
    // box model
    flex-basis: 21rem;
    flex-shrink: 0;
  }
}

.footer__menues {
  // box model
  margin-bottom: 3rem;

  @include atDesktopS {
    // box model
    display: flex;
    flex-grow: 10;
    margin-bottom: 0;
  }
}

.footer__menu {
  // box model
  margin-bottom: 3rem;
}

.footer__text {
  @include atDesktopS {
    // box model
    flex-basis: 21rem;
  }
}

.footer__contacts {
  @include atDesktopS {
    // box model
    flex-basis: 15rem;
    flex-shrink: 0;
  }

  .email {
    // typography
    color: var(--white);
  }

  svg {
    // visual
    fill: var(--white);
  }
}

.footer__social {
  // box model
  display: flex;
  gap: 1.375rem;
  margin-top: 1rem;
}

.footer__title {
  // box model
  margin-bottom: 1rem;

  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
}

.footer__bottom {
  // box model
  display: flex;
  flex-direction: column-reverse;

  @include atDesktopS {
    // box model
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__copy {
  // box model
  margin-top: 1rem;
}

.footer__menu {
  @include atDesktopS {
    // box model
    flex-basis: 15rem;
  }
}
