.gradient-card {
  // positioning
  position: relative;
  z-index: 2;

  // box model
  margin-bottom: 1.5rem;
  padding: 1.75rem;

  // border
  border-radius: 1.5rem;

  // typography
  color: var(--blue);

  // visual
  overflow: hidden;

  @include atTablet {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 18rem;
    margin-bottom: 0;
    padding: 2.25rem;
  }
}

@include atTablet {
  .gradient-card--1 {
    // box model
    grid-area: one;
  }

  .gradient-card--2 {
    // box model
    grid-area: two;
  }

  .gradient-card--3 {
    // box model
    padding-top: 9.5rem;
    grid-area: three;
    align-self: center;
  }
  
  .gradient-card--mt {
    // box model
    justify-content: flex-start;
    margin-top: -3rem;
    margin-bottom: 3rem;
  }

  .gradient-card--5 {
    // box model
    grid-column: 2;
    justify-content: flex-end;
  }
}

.gradient-card::before {
  content: "";

  // positioning
  position: absolute;
  top: -25%;
  right: -25%;
  bottom: -25%;
  left: -25%;
  z-index: -2;

  // box model
  display: block;

  // visual
  background-image: conic-gradient(from 26deg at 50% -10%,
    #FF3B77 10%,
    #ff3b77 30%,
    // #FFDBF0 40%,
    #1f3281 50%,
    #1F3281 80%
  );
  overflow: hidden;
  transition: all 1s ease-out;
}

.gradient-card::after {
  content: "";

  // positioning
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;

  // box model
  display: block;

  // border
  border-radius: calc(1.5rem - 2px);

  // visual
  background-color: var(--lightBlue);
  overflow: hidden;
}

.gradient-card:hover::before {
  @include atDesktopS {
    // positioning
    transform: rotate(180deg);
  }
}

.gradient-card__number {
  // typography
  color: var(--red);
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
}

.gradient-card__title {
  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
}

.gradient-card__text {
  // box model
  margin-top: 1rem;

  // typography
  line-height: 1.225;
}

// https://css-tricks.com/my-struggle-to-use-and-animate-a-conic-gradient-in-svg/
