.gradient-card {
  // positioning
  position: relative;
  z-index: 2;

  // box model
  margin-bottom: 1.5rem;
  padding: 1.75rem;

  // typography
  color: var(--blue);

  @include atDesktopS {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 18rem;
    margin-bottom: 0;
    padding: 2.25rem;
  }
}

@include atDesktopS {
  .gradient-card--1 {
    // box model
    grid-area: one;
  }

  .gradient-card--2 {
    // box model
    grid-area: two;
  }

  .gradient-card--3 {
    // box model
    padding-top: 9.5rem;
    grid-area: three;
    align-self: center;
  }
  
  .gradient-card--mt {
    // box model
    justify-content: flex-start;
    margin-top: -3rem;
    margin-bottom: 3rem;
  }

  .gradient-card--5 {
    // box model
    grid-column: 2;
    justify-content: flex-end;
  }
}

.gradient-card::before {
  content: "";

  // positioning
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -2;

  // box model
  display: block;

  // border
  border-radius: 1.5rem;

  // visual
  background-image: conic-gradient(from 26deg at 50% -10%, #FFDBF0 0%, #FF3B77 10%, #1F3281 57%);
  overflow: hidden;
}

.gradient-card::after {
  content: "";

  // positioning
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  // box model
  display: block;

  // border
  border-radius: calc(1.5rem - 2px);

  // visual
  background-color: var(--lightBlue);
  overflow: hidden;
}

.gradient-card__number {
  // typography
  color: var(--red);
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
}

.gradient-card__title {
  // typography
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
}

.gradient-card__text {
  // box model
  margin-top: 1rem;

  // typography
  line-height: 1.225;
}

// https://css-tricks.com/my-struggle-to-use-and-animate-a-conic-gradient-in-svg/
