.header {
  // box model
  margin-bottom: 3rem;
  padding: 1.25rem;

  // border
  border-radius: 1.75rem;

  // visual
  background-color: var(--red);
  background-image: conic-gradient(from -90deg at 50.46% 0.00%, #FFDBF0 78.0003172159195deg, #ff3b77 180.8186993598938deg, #1F3281 350.0191140174866deg);
}

.header__top {
  // positioning
  position: relative;

  // box model
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18rem;
}

.header__content {

}

.header__caption {
  // box model
  margin-bottom: 1.875rem;
}

.header__buttons {
  // box model
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.625rem;
}
