.main-subtitle {
  // box model
  margin-top: 1rem;

  // typography
  color: var(--white);
  font-family: var(--titleFont);
  font-weight: 300;

  @include atDesktopS {
    // box model
    margin-top: 1.5rem;

    // typography
    font-size: 1.5rem;
  }
}


.main-subtitle a {
  // typography
  color: var(--white);
}
