.main-title {
  // typography
  color: var(--white);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.225;

  @include atTablet {
    font-size: 1.75rem;
  }

  @include atDesktopS {
    // typography
    font-size: 3rem;
    font-weight: 500;
  }
}
