.roles-cards {
  @include atTablet {
    // box model
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "one three"
      "two three";
    gap: 1.25rem;
  }

  @include atDesktopS {
    // box model
    grid-template-columns: repeat(2, 21rem);
  }
}
