.section {
  // box model
  margin-bottom: 6rem;
}

.section--blue {
  // box model
  padding: 1.75rem;
  padding-bottom: 6rem;

  // border
  border-radius: 1.25rem;

  // visual
  background-color: var(--lightBlue);
}

.section__header {
  // box model
  margin-bottom: 2rem;
}

.section__content {

}
