.section {
  // box model
  margin-bottom: 6rem;

  @include atDesktopS {
    // box model
    padding-left: 2.5rem;
  }
}

.section--flex {
  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
  }
}

.section--blue {
  // box model
  padding: 1.75rem;
  padding-bottom: 6rem;

  // border
  border-radius: 1.25rem;

  // visual
  background-color: var(--lightBlue);

  @include atDesktopS {
    // box model
    padding: 2.5rem;
    padding-bottom: 8rem;
  }
}

.section__header {
  // box model
  margin-bottom: 2rem;
}

.section__content {
  @include atDesktopS {
    // box model
    padding-top: 8rem;
  }
}
