.section {
  // positioning
  position: relative;

  // box model
  margin-bottom: 6rem;

  @include atDesktopS {
    // box model
    margin-bottom: 8rem;
    padding-left: 2.5rem;
  }
}

.section--flex {
  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.section--flex .section__header {
  @include atDesktopS {
    // positioning
    position: sticky;
    top: 5rem;
  }
}

.section--blue {
  // box model
  padding: 1.75rem;

  // border
  border-radius: 1.25rem;

  // visual
  background-color: var(--lightBlue);

  @include atDesktopS {
    // box model
    padding: 2.5rem;
    padding-bottom: 8rem;
    padding-right: 7.375rem;
    padding-top: 3.5rem;
  }
}

.section__header {
  // box model
  margin-bottom: 2rem;

  @include atTablet {
    // box model
    margin-bottom: 3rem;
  }

  @include atDesktopS {
    // box model
    flex-basis: 25rem;
  }
}

.section__content {
  @include atDesktopS {
    // box model
    padding-top: 8rem;
  }
}

.section__content--t-pb {
  // box model
  padding-bottom: 4rem;
}

.section__content--np {
  @include atDesktopS {
    // box model
    padding-top: 1.5rem;
  }
}
