.social {
  // box model
  display: block;
  height: 2.25rem;

  // typography
  font-size: 0;

  @include atDesktopS {
    // box model
    height: 1.5rem;
  }
}

.social svg {
  // box model
  height: 100%;
}
