.subtitle {
  // box model
  margin-top: 2rem;

  // typography
  line-height: 1.225;
}

.subtitle strong {
  // typography
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 1.5rem;
}
