.type-card {
  // box model
  padding: 1.75rem;

  // typography
  color: var(--blue);

  // border
  border-radius: 1.25rem;

  // visual
  background-color: var(--lightBlue);
}

.type-card__image {

}

.type-card__image img {

}

.type-card__content {

}

.type-card__title {
  // box model
  margin-bottom: 1rem;

  // typography
  font-size: 1.25rem;
  font-weight: 500;
}

.type-card__text {

}
