.types-cards {
  @include atTablet {
    // box model
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  @include atDesktopS {
    // box model
    grid-template-columns: repeat(3, 21rem);
    gap: 1.25rem;
  }
}
