section.section 
  header.section__header 
    h2.title Benefits for <br/>advertisers
  .section__content.section__content--np 
    table.feature-table 
      tr 
        td.feature-table__number #1
        td.feature-table__feature CPM/CPA/ Smart Bidding CPM
        td.feature-table__text Choose CPM for reliable impressions, CPA for results-driven campaigns, or buckle up for the thrill of smart bidding CPM, where our algorithms work their magic to optimize your costs.
      tr 
        td.feature-table__number #2
        td.feature-table__feature Multiple Ad Format
        td.feature-table__text From display banners to native ads, push notifications to pop-unders, advertisers have the flexibility to choose the format that best aligns with their campaign goals and target audience.
      tr 
        td.feature-table__number #3
        td.feature-table__feature Anti ad block
        td.feature-table__text We've got a secret weapon in our ad network arsenal to tackle those sneaky ad-blockers.Say goodbye to lost revenue and hello to unstoppable advertising greatness!
      tr 
        td.feature-table__number #4
        td.feature-table__feature Smart Optimization Tools
        td.feature-table__text Watch as your ads transform into marketing superheroes, maximizing your ROI and leaving your competitors in awe. Say goodbye to guesswork and hello to data-driven success.
      tr 
        td.feature-table__number #5
        td.feature-table__feature 5 star Customer Support
        td.feature-table__text Our dedicated team of managers is here to guide you through the advertising galaxy with expert knowledge and lightning-fast assistance. From campaign setup to troubleshooting, they'll be your guiding stars, ensuring your journey is smooth and successful
      tr 
        td.feature-table__number #6
        td.feature-table__feature Advanced targetings
        td.feature-table__text Get your ads in the right hands, on the right screens, at the right time. Advertrek Ad Network's targeting options are on point! target specific regions or expand your campaigns globally
