section.section 
  header.section__header 
    h2.title Benefits for publishers
  .section__content 
    table.feature-table 
      tr 
        td.feature-table__number #1
        td.feature-table__feature Revshare 85%
        td.feature-table__text With Advertrek, publishers can enjoy an impressive 85% revenue share. We believe in empowering our publishers by providing them with a significant share of the revenue generated through their valuable traffic. It's our way of saying, "Let's grow together and reap the rewards!"
      tr 
        td.feature-table__number #2
        td.feature-table__feature Accept All Kinds of Traffic
        td.feature-table__text So, whether you've got traffic from Mars or traffic from your grandma's knitting blog, we're here to turn it into monetization magic. Trust us, we've seen it all, and we're ready for your traffic adventures.
      tr 
        td.feature-table__number #3
        td.feature-table__feature Impressive eCPM
        td.feature-table__text We pride ourselves on providing publishers with competitive eCPMs that maximize their revenue potential. With our advanced optimization techniques and premium ad inventory, you can expect to see your eCPMs soar to new heights.
      tr 
        td.feature-table__number #4
        td.feature-table__feature Partner Care
        td.feature-table__text Whether you're stuck in an ad optimization maze, lost in a payment process puzzle, or experiencing a technical glitch rollercoaster, fear not! We're armed with witty jokes and a vast knowledge of all things ad-related, ready to tackle your questions and turn frowns upside down.
      tr 
        td.feature-table__number #5
        td.feature-table__feature Global 
        td.feature-table__text Our network provides you with the opportunity to reach audiences worldwide. From the bustling streets of New York to the tranquil landscapes of Bali, our global coverage ensures that your ads will be seen by users in diverse locations We have already launched 20k ad campaigns globally
      tr 
        td.feature-table__number #6
        td.feature-table__feature Anti-AdBlock
        td.feature-table__text Our cutting-edge technology detects and circumvents ad block software, ensuring that your ads are seen by every visitor to your website. By effectively bypassing ad blockers, we help you maximize your ad revenue and regain control over your monetization efforts
