<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png?v=adv">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png?v=adv">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png?v=adv">
<link rel="manifest" href="./favicon/site.webmanifest?v=adv">
<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg?v=adv" color="#1f3281">
<link rel="shortcut icon" href="./favicon/favicon.ico?v=adv">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="./favicon/browserconfig.xml?v=adv">
<meta name="theme-color" content="#1f3281">
