footer.footer 
  .footer__top
    .footer__logo
      a.logo(href="./index.html") 
        img(src="./img/logo.svg", alt="logo")
    .footer__menues
      .footer__menu 
        h3.footer__title Menu
        ul.footer-menu 
          li.footer-menu__item 
            a.footer-menu__link(href="./index.html") Home
          li.footer-menu__item 
            a.footer-menu__link(href="./advertisers.html") Advertisers
          li.footer-menu__item 
            a.footer-menu__link(href="./publishers.html") Publishers
          li.footer-menu__item 
            a.footer-menu__link(href="https://admin.advertrek.com/login") Login
          li.footer-menu__item 
            a.footer-menu__link(href="https://admin.advertrek.com/signup/getting-started") Sign up
    .footer__contacts
      h3.footer__title Contact us
      a.email(href="mailto:contact@advertrek.com") contact@advertrek.com
      .footer__social
        a.social(href="#") Skype 
          img(src="./img/icons/skype.svg", alt="Skype Icon")
        a.social(href="#") Telegram 
          img(src="./img/icons/telegram.svg", alt="Telegram Icon")
  .footer__bottom
    p.footer__copy Copyright © 2023 <br/>All Rights Reserved
    .footer__menu
      ul.footer-menu.footer-menu--d-row 
        li.footer-menu__item 
          a.footer-menu__link(href="#") Terms of Use
        li.footer-menu__item 
          a.footer-menu__link(href="#") Privacy Policy
