header.header
  .header__top
    a.logo(href="./index.html") 
      img(src="./img/logo.svg", alt="logo")
    nav.main-nav#main-nav 
      button.main-nav__close#close-button Close <span class="main-nav__close-x">✕</span>
      .main-nav__menu
        ul.main-menu 
          li.main-menu__item 
            a.main-menu__link(href="./index.html") Home
          li.main-menu__item 
            a.main-menu__link(href="./advertisers.html") Advertisers
          li.main-menu__item 
            span.main-menu__active Publishers
          li.main-menu__separator 
          li.main-menu__item 
            a.main-menu__link(href="https://admin.advertrek.com/login") Login
          li.main-menu__item 
            a.main-menu__link(href="https://admin.advertrek.com/signup/getting-started") Sign up
          li.main-menu__separator 
      .main-nav__contacts 
        .main-nav__social
          a.social(href="#") Skype 
            img(src="./img/icons/skype.svg", alt="Skype Icon")
          a.social(href="#") Telegram 
            img(src="./img/icons/telegram.svg", alt="Telegram Icon")
        a.email(href="mailto:contact@advertrek.com") contact@advertrek.com
    button.menu-button#menu-button Menu
  .header__content
    .header__caption
      h1.main-title We help to monetize <br/>your traffic 
      p.main-subtitle Generate passive income effortlessly <br/>by strategically placing high-converting <br/>advertisements.
    .header__buttons 
      a.ghost-button(href="#") Start monetize 
