section.section.section--blue.section--flex 
  header.section__header
    h2.title How <br/>to start?
    p.subtitle Are you the proud owner of a website, blog, or services? If you've ever pondered earning from online advertising or affiliate marketing, look no further! Welcome to Advertrek, the ad network designed with publishers in mind. Join our community of trusted webmasters and affiliates who are already enjoying the benefits of high CPMs and unlocking their earning potential
  .section__content 
    .step-cards
      article.gradient-card 
        p.gradient-card__number #1
        h3.gradient-card__title Create Account
      article.gradient-card.gradient-card--mt 
        p.gradient-card__number #2
        h3.gradient-card__title Choose the Ad format
      article.gradient-card 
        p.gradient-card__number #3
        h3.gradient-card__title Add the code to&nbsp;your website or&nbsp;different source
      article.gradient-card.gradient-card--mt 
        p.gradient-card__number #4
        h3.gradient-card__title Start Making Money
