section.section.section--flex 
  header.section__header 
    h2.title How can I top up my balance?
    p.subtitle <strong>You can reach your audience with a&nbsp;minimum of&nbsp;$50</strong>
  .section__content 
    ul.payments 
      li.payments__item 
        img(src="./img/payments/wire.png", alt="Wire Transfer") 
      li.payments__item 
        img(src="./img/payments/usdt.png", alt="USDT") 
      li.payments__item 
        img(src="./img/payments/capitalist.png", alt="Capitalist") 
      li.payments__item 
        img(src="./img/payments/paxum.png", alt="Paxum") 
