section.section.section--flex 
  header.section__header 
    h2.title Publisher <br/>Payout Methods 
    p.subtitle <strong>Weekly, without any delays, you can withdraw a minimum amount of $50.</strong>
  .section__content
    ul.payments 
      li.payments__item.payments__item--wire(data-entrance="from-bottom" data-entrance-delay="250") 
        img(src="./img/payments/wire.png", alt="Wire Transfer") 
      li.payments__item(data-entrance="from-bottom" data-entrance-delay="500") 
        img(src="./img/payments/usdt.png", alt="USDT") 
      li.payments__item(data-entrance="from-bottom" data-entrance-delay="750") 
        img(src="./img/payments/capitalist.png", alt="Capitalist") 
      li.payments__item(data-entrance="from-bottom" data-entrance-delay="1000") 
        img(src="./img/payments/paxum.png", alt="Paxum") 
