section.section.section--blue.section--flex 
  header.section__header
    h2.title(data-entrance="from-left" data-entrance-delay="50") Start Your Campaign Immediately
    p.subtitle(data-entrance="from-left" data-entrance-delay="250") Save valuable time and effort with our user-friendly self-service platform. Set up your campaigns effortlessly, swiftly, and without any hassle. Because in the world of advertising, time equals money!
  .section__content 
    .step-cards
      article.gradient-card(data-entrance="from-bottom") 
        p.gradient-card__number #1
        h3.gradient-card__title Sign up
      article.gradient-card.gradient-card--mt(data-entrance="from-bottom" data-entrance-delay="250") 
        p.gradient-card__number #2
        h3.gradient-card__title Create your campaign
      article.gradient-card(data-entrance="from-bottom") 
        p.gradient-card__number #3
        h3.gradient-card__title Make a payment to&nbsp;kickstart your advertising endeavors
      article.gradient-card.gradient-card--mt(data-entrance="from-bottom" data-entrance-delay="250") 
        p.gradient-card__number #4
        h3.gradient-card__title Appear on Top sites
      article.gradient-card.gradient-card--5.gradient-card--mt(data-entrance="from-bottom") 
        p.gradient-card__number #5
        h3.gradient-card__title Get Targeted Audience
