section.section 
  header.section__header(data-entrance="from-left" data-entrance-delay="50") 
    h2.title Unlock the Advertrek's <br/>arsenal
  .section__content.section__content--np 
    table.feature-table 
      tr(data-entrance="from-right") 
        td.feature-table__number #1
        td.feature-table__feature Increased <br/>Ad Revenue
        td.feature-table__text Brace yourself for an epic surge in ad revenue as we connect you with top-notch campaigns that are relevant and willing to shower you with gold coins!
      tr(data-entrance="from-right") 
        td.feature-table__number #2
        td.feature-table__feature Performance Tracking <br/>and Analytics
        td.feature-table__text No More Guesswork: Our ad network brings you tracking and  analytics tools that are as powerful as a superhero's X-ray vision!
      tr(data-entrance="from-right") 
        td.feature-table__number #3
        td.feature-table__feature 100% FRAUD SAFETY
        td.feature-table__text Our solution acts as an impenetrable shield against bots and suspicious activity, ensuring that only genuine users and a vibrant audience engage with your campaigns
      tr(data-entrance="from-right") 
        td.feature-table__number #4
        td.feature-table__feature Anti-AdBlock <br/>Technology
        td.feature-table__text Our ad network uses fancy anti-ad block technology to give your website's ads the superpower of invisibility to those pesky ad-blockers. Show those ad blockers who's boss!
