section.section 
  header.section__header 
    h2.title What <br/>we offer 
  .section__content 
    .slider#type-slider
      article.type-card 
        .type-card__image
          img(src="./img/cards/video.png", alt="video icon")
        .type-card__content 
          h3.type-card__title 01 Video
          p.type-card__text Video ads effortlessly blend into desktop and mobile players, providing an appealing choice for advertisers and publishers alike. This format drives millions of impressions daily, guaranteeing prolonged viewer involvement.
      article.type-card 
        .type-card__image
          img(src="./img/cards/banner.png", alt="banner icon")
        .type-card__content 
          h3.type-card__title 02 Banner
          p.type-card__text Banner advertising, the oldest form of online advertising, is highly effective. Banners, typically images or GIF files with specific dimensions, are placed on websites, mobile sites, and blogs owned by publishers. They commonly achieve higher click-through rates on desktop and mobile devices.
      article.type-card 
        .type-card__image
          img(src="./img/cards/pop.png", alt="pop icon")
        .type-card__content 
          h3.type-card__title 03 Pop
          p.type-card__text Popunder ads are designed to appear behind the main browser window, capturing the user's attention without interrupting their browsing experience.
      article.type-card 
        .type-card__image
          img(src="./img/cards/in-page.png", alt="in-page icon")
        .type-card__content 
          h3.type-card__title 04 In-page
          p.type-card__text In-page ads are a type of online advertising that appear within web pages, integrated with the content, instead of being separate. They work well across different browsers and platforms, with a particular effectiveness on iOS devices.
      article.type-card 
        .type-card__image
          img(src="./img/cards/push.png", alt="push icon")
        .type-card__content 
          h3.type-card__title 05 Push
          p.type-card__text A push notification is an advertising format where a message is delivered to a user's device after they have given consent to subscribe. These notifications appear prominently on the screen, above other windows, and have a strong user loyalty towards offers.
      article.type-card 
        .type-card__image
          img(src="./img/cards/native.png", alt="native icon")
        .type-card__content 
          h3.type-card__title 06 Native
          p.type-card__text Native ads are a type of online advertising format that blends seamlessly with the surrounding content on a website or platform, making them appear as a natural part of the user experience.
