section.section.section--blue.section--flex 
  header.section__header 
    h2.title Who works <br/>with us 
  .section__content 
    .roles-cards
      article.gradient-card.gradient-card--1 
        h3.gradient-card__title Advertisers
        p.gradient-card__text Launch, optimize, analyze, and scale your ad campaigns seamlessly through a single interface. Maximize your efficiency and effectiveness with our user-friendly Platform
      article.gradient-card.gradient-card--2 
        h3.gradient-card__title Publishers
        p.gradient-card__text Monetize your traffic with us and unlock the path to maximum earnings. We offer a range of effective ad formats to monetize every user and impression, regardless of the device or location
      article.gradient-card.gradient-card--3 
        h3.gradient-card__title DSP/SSP Partners
        p.gradient-card__text Benefit from highload projects and tap into our advantages. Seamlessly integrate with XML/RTB for ad networks and unlock a world of endless possibilities
