html {
  // typography
  color: var(--dark);
  font-family: var(--mainFont);
  font-size: 4.44445vw;

  // visual
  background-color:  var(--white);
  scroll-behavior: smooth;

  @include atTablet {
    // typography
    font-size: 2.66665vw;
  }

  @include atDesktopS {
    // typography
    font-size: 1.1112vw;
  }
}

body {
  // box model
  padding: 0.625rem;

  @include atDesktopS {
    // box model
    padding: 1.25rem;
  }
}

// [data-entrance] { visibility: hidden; }
