doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    script(src="./scroll.js") 

    include ./modules/favicon.pug

    title Advertrek — Advertisers
  body 
    include ./modules/header-advertisers.pug

    main
      include ./modules/we-offer.pug
      include ./modules/start-ur-campaign.pug
      include ./modules/benefits-advertisers.pug
      include ./modules/how-to-top-up.pug

    include ./modules/footer-inner.pug

    script(src="./app.js") 
