doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css?v=4")
    script(src="./scroll.js?v=4") 

    include ./modules/favicon.pug

    title Advertrek LTD — Publishers
  body 
    include ./modules/header-publishers.pug

    main
      include ./modules/we-offer.pug
      include ./modules/how-to-start.pug
      include ./modules/benefits-publishers.pug
      include ./modules/payout-methods.pug

    include ./modules/footer-inner.pug

    script(src="./app.js?v=4") 
