body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --white: #ffffff;
  --lightBlue: #e6eaf9;
  --red: #ff3b77;
  --blue: #1f3281;
  --dark: #0a1029;
  --mainFont: "Work Sans",
                  system-ui,
                  -apple-system,
                  BlinkMacSystemFont,
                  "Segoe UI",
                  Roboto,
                  Oxygen,
                  Ubuntu,
                  Cantarell,
                  "Open Sans",
                  "Helvetica Neue",
                  sans-serif;
  --titleFont: REM,
                  system-ui,
                  -apple-system,
                  BlinkMacSystemFont,
                  "Segoe UI",
                  Roboto,
                  Oxygen,
                  Ubuntu,
                  Cantarell,
                  "Open Sans",
                  "Helvetica Neue",
                  sans-serif;
}

html {
  color: var(--dark);
  font-family: var(--mainFont);
  font-size: 4.44445vw;
  background-color: var(--white);
  scroll-behavior: smooth;
}
@media (min-width: 600px) {
  html {
    font-size: 2.66665vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1.1112vw;
  }
}

body {
  padding: 0.625rem;
}
@media (min-width: 1200px) {
  body {
    padding: 1.25rem;
  }
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Regular.woff2") format("woff2"), url("./fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "REM";
  src: url("./fonts/REM-Light.woff2") format("woff2"), url("./fonts/REM-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "REM";
  src: url("./fonts/REM-Regular.woff2") format("woff2"), url("./fonts/REM-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "REM";
  src: url("./fonts/REM-Medium.woff2") format("woff2"), url("./fonts/REM-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1.25rem;
  aspect-ratio: 9/16;
  border-radius: 1.75rem;
  background-color: var(--red);
  background-image: radial-gradient(75% 75% at 60% -1%, #eb4d79 0%, rgba(36, 50, 125, 0.8509803922) 100%), radial-gradient(75% 75% at -50% 67%, #eb4e78 0%, rgba(35, 50, 124, 0.768627451) 100%), linear-gradient(0deg, #eb4e78 0%, #ea3a69 100%);
  background-size: 200% 150%;
  animation: gradient 10s ease infinite;
  animation-direction: alternate;
}
@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8rem;
    padding: 2.5rem;
    padding-top: 1.25rem;
    aspect-ratio: 16/8;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

@media (min-width: 600px) {
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.header__caption {
  margin-bottom: 1.875rem;
}
@media (min-width: 600px) {
  .header__caption {
    margin-bottom: 0;
  }
}

.header__buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.625rem;
}
@media (min-width: 1200px) {
  .header__buttons {
    flex-direction: row;
    gap: 1.25rem;
  }
}

.logo {
  display: block;
  max-width: 10rem;
  opacity: 1;
  transition: all 0.25s ease-out;
}

@media (hover: hover) {
  .logo:hover {
    opacity: 0.5;
  }
}

.logo svg {
  width: 100%;
}

.main-nav {
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top right;
  transform: scale(0);
  z-index: 3;
  padding: 2.5rem;
  padding-top: 7.25rem;
  width: 100%;
  border-radius: 1.25rem;
  background-color: var(--white);
  opacity: 0.25;
  overflow: hidden;
  transition: all 0.25s ease-out;
}
@media (min-width: 1200px) {
  .main-nav {
    position: relative;
    transform: scale(1);
    display: flex;
    align-items: center;
    gap: 10rem;
    width: auto;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
}
.main-nav.open {
  transform: scale(1);
  opacity: 1;
}

.main-nav__close {
  position: absolute;
  right: 1.25rem;
  top: 1rem;
  display: flex;
  line-height: 1;
  border: none;
  appearance: none;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .main-nav__close {
    display: none;
  }
}

.main-nav__close-x {
  margin-left: 0.25rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.main-nav__menu {
  margin-bottom: 4rem;
}
@media (min-width: 1200px) {
  .main-nav__menu {
    margin-bottom: 0;
  }
}

.main-nav__contacts {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1200px) {
  .main-nav__contacts {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }
}

.main-nav__social {
  display: flex;
  gap: 1.375rem;
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .main-nav__social {
    margin-top: 0;
    gap: 0.75rem;
  }
}
.main-nav__social svg {
  fill: var(--blue);
}
@media (min-width: 1200px) {
  .main-nav__social svg {
    fill: var(--white);
  }
}

ul.main-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1200px) {
  ul.main-menu {
    flex-direction: row;
    padding: 0.3125rem 0.375rem;
    gap: 0;
    border-radius: 1.25rem;
    background-color: rgba(255, 255, 255, 0.6980392157);
  }
}

.main-menu__item {
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .main-menu__item {
    line-height: 1.1875;
  }
}

@media (min-width: 1200px) {
  .main-menu__active {
    position: relative;
    z-index: 2;
    display: block;
    padding: 0.3125rem 1rem;
    color: var(--white);
    user-select: none;
    transition: all 0.25s ease-out;
  }
}

.main-menu__link {
  color: var(--dark);
  text-decoration: none;
}
@media (min-width: 1200px) {
  .main-menu__link {
    position: relative;
    z-index: 2;
    display: block;
    padding: 0.3125rem 1rem;
    transition: all 0.25s ease-out;
  }
}

@media (min-width: 1200px) {
  .main-menu__link:hover {
    color: var(--white);
  }
}

.main-menu__separator {
  height: 1px;
  background-color: var(--blue);
}
@media (min-width: 1200px) {
  .main-menu__separator {
    display: none;
  }
}

.main-menu__tracker {
  display: none;
}
@media (min-width: 1200px) {
  .main-menu__tracker {
    position: absolute;
    z-index: 1;
    display: block;
    border-radius: 0.9375rem;
    height: 1.875rem;
    background-color: var(--blue);
    transition: all 0.25s ease-out;
  }
}

.social {
  display: block;
  height: 2.25rem;
  font-size: 0;
  opacity: 1;
  transition: all 0.25s ease-out;
}
@media (min-width: 1200px) {
  .social {
    height: 1.5rem;
  }
}

@media (hover: hover) {
  .social:hover {
    opacity: 0.5;
  }
}

.social svg {
  height: 100%;
}

.email {
  color: var(--blue);
  text-decoration: none;
  opacity: 1;
  transition: all 0.25s ease-out;
}
@media (min-width: 1200px) {
  .email {
    color: var(--white);
  }
}

.email:hover {
  opacity: 0.5;
}

.menu-button {
  padding: 0.625rem 2rem;
  border: none;
  border-radius: 2.5rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1875;
  background-color: rgba(255, 255, 255, 0.6980392157);
}
@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.main-title {
  color: var(--white);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.225;
}
@media (min-width: 1200px) {
  .main-title {
    font-size: 3rem;
    font-weight: 500;
  }
}

.main-subtitle {
  margin-top: 1rem;
  color: var(--white);
  font-family: var(--titleFont);
  font-weight: 300;
}
@media (min-width: 1200px) {
  .main-subtitle {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
}

.ghost-button {
  position: relative;
  transform: translateY(0);
  z-index: 2;
  padding: 0.75rem 2rem;
  border: 0.125rem solid var(--white);
  border-radius: 2rem;
  color: var(--white);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  line-height: 1.225;
  text-align: center;
  text-decoration: none;
  appearance: none;
  transition: all 0.25s ease-out;
}

.ghost-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 0;
  border-radius: 2rem;
  background-color: var(--white);
  transition: all 0.25s ease-out;
  opacity: 0;
}

@media (hover: hover) {
  .ghost-button:hover {
    color: var(--blue);
    background-color: var(--white);
    box-shadow: 0px 0.625rem 0.625rem 0px rgba(31, 50, 129, 0.25);
  }
}

.ghost-button:hover::before {
  left: 0;
  right: auto;
  width: 100%;
  opacity: 1;
}

@media (hover: hover) {
  .ghost-button:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.cta-button {
  padding: 0.75rem 2.25rem;
  border: 0.125rem solid var(--white);
  border-radius: 2rem;
  color: var(--blue);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  line-height: 1.225;
  text-align: center;
  text-decoration: none;
  background-color: var(--white);
  box-shadow: 0px 0.625rem 0.625rem 0px rgba(31, 50, 129, 0.25);
}

.section {
  margin-bottom: 6rem;
}
@media (min-width: 1200px) {
  .section {
    margin-bottom: 8rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .section--flex {
    display: flex;
    justify-content: space-between;
  }
}

.section--blue {
  padding: 1.75rem;
  padding-bottom: 6rem;
  border-radius: 1.25rem;
  background-color: var(--lightBlue);
}
@media (min-width: 1200px) {
  .section--blue {
    padding: 2.5rem;
    padding-bottom: 8rem;
    padding-right: 7.375rem;
    padding-top: 3.5rem;
  }
}

.section__header {
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .section__header {
    flex-basis: 25rem;
  }
}

@media (min-width: 1200px) {
  .section__content {
    padding-top: 8rem;
  }
}

@media (min-width: 1200px) {
  .section__content--np {
    padding-top: 1.5rem;
  }
}

.title {
  color: var(--blue);
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.225;
}

.subtitle {
  margin-top: 2rem;
  line-height: 1.225;
}

.subtitle strong {
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 1.5rem;
}

.type-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1.25rem;
  padding: 1.75rem;
  height: 24rem;
  color: var(--blue);
  border-radius: 1.25rem;
  background-color: var(--lightBlue);
}
@media (min-width: 1200px) {
  .type-card {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .type-card:nth-of-type(3n + 2) {
    margin-top: -2rem;
  }
}

.type-card__image {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 8rem;
}

.type-card__title {
  margin-bottom: 1rem;
  font-family: var(--titleFont);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.225;
}
@media (min-width: 1200px) {
  .type-card__title {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.type-card__text {
  line-height: 1.225;
}

.gradient-card {
  position: relative;
  z-index: 2;
  margin-bottom: 1.5rem;
  padding: 1.75rem;
  color: var(--blue);
}
@media (min-width: 1200px) {
  .gradient-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 18rem;
    margin-bottom: 0;
    padding: 2.25rem;
  }
}

@media (min-width: 1200px) {
  .gradient-card--1 {
    grid-area: one;
  }
  .gradient-card--2 {
    grid-area: two;
  }
  .gradient-card--3 {
    padding-top: 9.5rem;
    grid-area: three;
    align-self: center;
  }
  .gradient-card--mt {
    justify-content: flex-start;
    margin-top: -3rem;
    margin-bottom: 3rem;
  }
  .gradient-card--5 {
    grid-column: 2;
    justify-content: flex-end;
  }
}
.gradient-card::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -2;
  display: block;
  border-radius: 1.5rem;
  background-image: conic-gradient(from 26deg at 50% -10%, #FFDBF0 0%, #FF3B77 10%, #1F3281 57%);
  overflow: hidden;
}

.gradient-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  border-radius: calc(1.5rem - 2px);
  background-color: var(--lightBlue);
  overflow: hidden;
}

.gradient-card__number {
  color: var(--red);
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
}

.gradient-card__title {
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
}

.gradient-card__text {
  margin-top: 1rem;
  line-height: 1.225;
}

.promo {
  margin-bottom: 6rem;
  margin-top: -10rem;
  padding: 1.75rem;
  border-radius: 1.25rem;
  background-color: var(--red);
  background-image: conic-gradient(from -90deg at 75% 0%, #FFDBF0 78.0003172159deg, #ff3b77 180.8186993599deg, #1F3281 350.0191140175deg);
}
@media (min-width: 1200px) {
  .promo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2.5rem;
    padding-top: 8rem;
    width: 72rem;
    margin: 0 auto;
    margin-bottom: 8rem;
    margin-top: -13rem;
  }
}

.promo__title {
  margin-bottom: 8rem;
  color: var(--white);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.225;
}
@media (min-width: 1200px) {
  .promo__title {
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 500;
  }
}

.promo__buttons {
  display: flex;
  flex-direction: column;
}

.feature-table tr {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-top: 1px solid var(--blue);
}
@media (min-width: 1200px) {
  .feature-table tr {
    display: flex;
    margin-bottom: 0;
    padding: 1.5rem 0;
  }
}

.feature-table td {
  display: block;
}

.feature-table__number {
  margin-bottom: 0.5rem;
  color: var(--red);
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.225;
}
@media (min-width: 1200px) {
  .feature-table__number {
    flex-basis: 26rem;
    flex-shrink: 0;
    padding-left: 5rem;
  }
}

.feature-table__feature {
  margin-bottom: 2rem;
  color: var(--blue);
  font-family: var(--titleFont);
  font-size: 1.5rem;
  line-height: 1.225;
}
@media (min-width: 1200px) {
  .feature-table__feature {
    flex-basis: 30rem;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.feature-table__text {
  line-height: 1.225;
}
@media (min-width: 1200px) {
  .feature-table__text {
    padding-right: 7.5rem;
  }
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  padding: 1.75rem;
  height: 24rem;
  border-radius: 1.25rem;
  color: var(--blue);
  background-color: var(--lightBlue);
}
@media (min-width: 1200px) {
  .feature-card {
    margin-bottom: 0;
    padding: 2.25rem;
  }
}

@media (min-width: 1200px) {
  .feature-card:nth-of-type(2n) {
    margin-top: -2rem;
  }
}

.feature-card__title {
  margin-bottom: 1rem;
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.225;
}

.feature-card__text {
  line-height: 1.225;
}

.footer {
  margin: -0.625rem;
  padding: 2.375rem;
  color: var(--white);
  background-color: var(--blue);
}
@media (min-width: 1200px) {
  .footer {
    margin: -1.25rem;
    padding: 6.25rem 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.footer__top {
  margin-bottom: 3rem;
}
@media (min-width: 1200px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  margin-bottom: 3rem;
}
@media (min-width: 1200px) {
  .footer__logo {
    flex-basis: 21rem;
    flex-shrink: 0;
  }
}

.footer__menues {
  margin-bottom: 3rem;
}
@media (min-width: 1200px) {
  .footer__menues {
    display: flex;
    flex-grow: 10;
    margin-bottom: 0;
  }
}

.footer__menu {
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .footer__text {
    flex-basis: 21rem;
  }
}

@media (min-width: 1200px) {
  .footer__contacts {
    flex-basis: 15rem;
    flex-shrink: 0;
  }
}
.footer__contacts .email {
  color: var(--white);
}
.footer__contacts svg {
  fill: var(--white);
}

.footer__social {
  display: flex;
  gap: 1.375rem;
  margin-top: 1rem;
}

.footer__title {
  margin-bottom: 1rem;
  font-family: var(--titleFont);
  font-size: 1.5rem;
  font-weight: 400;
}

.footer__bottom {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1200px) {
  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__copy {
  margin-top: 1rem;
}

@media (min-width: 1200px) {
  .footer__menu {
    flex-basis: 15rem;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .footer-menu--d-row {
    flex-direction: row;
  }
}

.footer-menu__link {
  color: var(--white);
  text-decoration: none;
  opacity: 1;
  transition: all 0.25s ease-out;
}

.footer-menu__link:hover {
  opacity: 0.5;
}

@media (min-width: 1200px) {
  .types-cards {
    display: grid;
    grid-template-columns: repeat(3, 21rem);
    gap: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .roles-cards {
    display: grid;
    grid-template-columns: repeat(2, 21rem);
    grid-template-areas: "one three" "two three";
    gap: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .feature-cards {
    display: grid;
    grid-template-columns: repeat(2, 21rem);
    grid-template-areas: "one three" "two three";
    gap: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .step-cards {
    display: grid;
    grid-template-columns: repeat(2, 21rem);
    gap: 1.25rem;
  }
}

ul.payments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 1200px) {
  ul.payments {
    gap: 7.5rem;
    padding-right: 7.5rem;
  }
}

.payments__item {
  height: 3.3125rem;
}

.payments__item--wire {
  height: 4.9375rem;
}

.payments__item img {
  height: 100%;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}